.w_100{
	width:100% !important;
}
#poststuff .stuffbox > h3, #poststuff h2, #poststuff h3.headerhndle {
    font-size: 14px;
    line-height: 1.4;
    margin: 0;
    padding: 8px 12px;
}
.tw-bs h3 { font-weight: 500 !important; font-size: 19px; padding:8px 0 !important;  }
.tw-bs .headerhndle { font-weight: 600 !important; font-size: 14px;  padding:8px; border-bottom:1px solid #e1e1e1;; }
.tw-bs label { font-weight: 600 !important; color:#222;}
.button-secondary { background-color:#dddddd !important; border:1px solid #dddddd !important; font-weight: 600 !important; color:#454545 !important; }
.button-secondary:hover, .button-secondary:focus { opacity: 0.8 !important; text-decoration: none !important }
.rel_block{
	position:relative;
}
#editor{    
    width: 100%;
    min-height: 300px;
}
/* FONTS */
a.pull-right {float:right}
.text-dimmed { color:#aaaaaa }
.text-danger { color:#dd0000; }

/* ICONS */
a span.dashicons, .dashicons-before:before {
    text-decoration: none;
}