/* TEMPLATES */
/* GENERIC CSS */
main {
    padding: 0; height: 100vh; margin: 0
}
main h1.entry-title {
    font-size: 3rem;
}
main h1.intro-text {
    font-size: 1rem;
}

/* HALLOWEEN */
main.halloween-404-pe {
    background-color: rgb(226, 193, 150);
}
/* SANTA CLAUS */
main.santa-claus-404-pe {
    background-color: rgb(142, 214, 108)
}
img.santa-chimney-image {
    position: absolute;
    width: 50%;
}
/* STRANDED */
main.stranded-404-pe {
    background-color: rgb(252, 242, 201);
}
/* VALENTINES */
main.valentines-404-pe {
    background-color: rgb(255, 210, 210)
}


@media (max-width:750px) {
    /* SANTA CLAUS */
    main.santa-claus-404-pe {
        background-color: rgb(142, 214, 108)
    }
    img.santa-chimney-image {
        position: absolute;
        width: 100%;
}
}